/*---- Generelle indstillinger ------ */

* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    line-height: 1.5;
}

img {
    width: 100%;
}

h1 {
    font-family: 'roboto', sans-serif;
    font-size: 3rem;
}

h2 {
    font-family: 'roboto',
        sans-serif;
    font-size: 2rem;
}

h3 {
    font-family: 'lato';
    font-size: 1.6rem;
    color: black;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

li {
    font-family: 'Montserrat', sans-serif;
    color: black;
}

a {
    color: #F7A152;
    font-family: 'Montserrat', sans-serif;

}

/*---- footer ------ */

/*
footer {
    background-color: #EFD5BF;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    letter-spacing: 1px;
}
*/

footer {
    text-align: center;
    border-top: 0.5rem solid #606060;
}

#footer .sectionwrapper {
    display: flex;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#footer .some {
    display: flex;
}

footer .insta {
    background-size: cover;
    height: 4vw;
    width: 4vw;
}

footer .linkedin {
    background-size: cover;
    height: 4vw;
    width: 4vw;
    text-align: center;
}

footer .andcopy {
    color: #F7A152;
    margin: 1rem;
}

/*---- Menuknap ------ */

#logo {
    height: 7vw;
    width: 14vw;
    background-size: cover;
    position: absolute;
    top: -0.5vw;
    left: 0vw;
}

header {
    width: 100vw;
    background-color: white;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;

}

header nav a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'lato';

}

header a {
    padding: 0.5rem;
    display: flex;
    color: black;
}

header nav a:visited {
    color: #F7A152;
}

/* mouse over link */
header nav a:hover {
    color: black;
}

.hidden {
    transform: translateX(-100%);
    opacity: 0;
    display: none;
}

#menuknap {
    display: inline-block;
    color: black;
    margin: 0.5rem;
}

@media only screen and (min-width:600px) {
    header nav {

        padding-bottom: 5rem;
    }

}

/*---- Forside ------ */

#splash {
    width: 50vw;
    height: 80vh;
    /*    background-image: url(assets/logo_IK.svg);*/
    background-size: cover;
    /*    background-position: 80% 40%;*/
    max-width: none;
}

.splash_txt {
    position: absolute;
    text-align: left;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    color: #F7A152;
}

/*---- Om ------ */

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    border-bottom: solid #606060;
    border-top: solid #606060;
}

#om .col p {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-left: -15px;
    text-align: center;
    margin: 2vw;
    padding: 1vw;

}

#om .col {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 1rem;

}

#om .col_wide {
    flex-grow: 1;
    flex-basis: 300px;
    padding: 1rem;
}

#om h2 {
    margin: 0.1rem auto;
    text-align: center;
}

/*---- kompetencer ------ */

#kompetencer .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    width: 100%;
    margin-right: 3rem;
    margin-left: 3rem;

}

#kompetencer .col {
    flex-basis: 500px;
    flex-grow: 1;
}

#kompetencer h2 {
    margin: 0.3rem auto;
    text-align: center;
}

#kompetencer h3 {
    margin: 0.1rem auto;
    text-align: center;
}

#kompetencer li {
    margin: 0.1rem auto;
    text-align: center, justify-all;

}

.col_tekst {
    margin: 1rem;
}

/*---- udvalgte projekter ------ */

#udvalgte_projekter .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#udvalgte_projekter .col {
    flex-grow: 1;
    flex-basis: 400px;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

#udvalgte_projekter h2 {
    text-decoration: none;
    color: black;
    text-align: center !important;
    margin-left: auto !important;
    border-top: 0.1rem solid #606060;
    margin: 1rem;
    margin-top:
}

#udvalgte_projekter .udvalgte_projekter_txt {
    text-align: center !important;
    margin-left: auto !important;


}

/*---- Portfolio ------ */

/*
portfolio .sectionwrapper {
    flex-wrap: wrap;
    display: flex;
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 50px;
    right: 50px;
    box-sizing: border-box;
    overflow: scroll;
    z-index: 1;
}

portfolio .col {

    flex-grow: 1;
    flex-basis: 400px;
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}


.tekst {
    text-align: center;
    z-index: 10;
    background-color: white;
    opacity: 1;
    flex-direction: column;
    justify-content: center;
}
*/

section {
    background-color: rgba(245, 245, 245, 0.3);

}

#portfolie {
    margin-bottom: 20px;

}

.tekst {
    text-align: center;
    z-index: 10;
    opacity: 1;
    flex-direction: column;
    justify-content: center;
}

.tekst_laptop {
    display: none;
}


.img_wrap {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 0;
}

.tekst_laptop {
    display: block;
}

#portfolio {
    margin: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*---- tema 2 ------ */

#tema_2 .tekst {
    border-top: solid #606060;
}

#tema_2 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#tema_2 .col {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 1rem 0.5rem;
    text-align: left;
    margin: 1rem;
}

#tema_2 .upper_col {
    margin: 1rem;
    text-align: center;
}

/*---- tema 3 ------ */

#tema_3 .tekst {
    border-top: solid #606060;
}

#tema_3 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#tema_3 .col {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 1rem 0.5rem;
    text-align: left;
    margin: 1rem;
}

#tema_3 .upper_col {
    margin: 1rem;
    text-align: center;

}

/*---- tema 4 ------ */

#tema_4 .tekst {
    border-top: solid #606060;
}

#tema_4 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
}

#tema_4 .col {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 1rem 0.5rem;
    text-align: left;
    margin: 1rem;
}

#tema_4 .upper_col {
    text-align: center;
}

/*---- tema 5 ------ */

#tema_5 .sectionwrapper {
    display: flex;
    flex-wrap: wrap;


}

#tema_5 .tekst {
    border-top: solid #606060;
}


#tema_5 .col {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 1rem 0.5rem;
    text-align: left;
    margin: 1rem;
}

#tema_5 .upper_col {
    margin: 1rem;
    text-align: center;
}

/*---- tema 5 scroll ------ */


#container1 {

    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    /*    scroll-snap-points-x: repeat(100%);*/
    scroll-snap-type: x mandatory;
}

img {
    width: 100%;
    scroll-snap-align: start;
}

/*---- tema 5 video ------ */
.promo_video {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 1rem;

}

.promo_video video {
    width: 100%;
    max-width: 800px;
    margin: auto;
}


/*---- Kontakt ------ */

/*
#kontakt .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    background-color: #606060;
    margin: 10rem;
}
*/

#kontakt .col {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 50px;
    padding: 0px;
    padding-left: 15px;
}

#kontakt h3 {
    color: black;
    justify-content: center;
    text-align: center;

}

#kontakt p {
    color: black;
    justify-content: center;
    text-align: center;
}

#kontakt {
    padding: 20px 0;
    background-color: white;
}

#kontakt p {
    font-size: 0.9em;
}

#kontakt .col {
    flex-grow: 1;
    flex-basis: 200px;
    margin: 50px;
    padding-left: 15px;
}

#kontakt .col img {
    max-width: 25px;
    margin: 0 5px -3px 5px;
}

.col a {
    text-decoration: none;
    color: #000000;
    text-transform: none;
}

.col a:hover {
    text-decoration: none;
    color: #F7A152;
}

#kontakt .sectionwrapper {
    /*display: flex;*/
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
}


/*---- Media indstillinger ------ */

@media only screen and (min-width:800px) {

    #menuknap {
        display: none;
    }

    .hidden {
        transform: translateX(0);
        opacity: 1;
        display: inline-block;
    }

    header li {
        display: inline-block;
        letter-spacing: 1px;

    }

    header nav {
        padding: 0.1rem;
    }

    header nav li {
        padding: 0.3rem;
        background-color: transparent;
        margin: 0.8rem;
        text-decoration: none;
        color: black;
    }
}

/*---- Media portfolio ------ */

media only screen and (min-width: 992px) .tekst_laptop {
    display: flex;
    flex-wrap: wrap;
}

@media only screen and (min-width: 992px) .tekst {
    padding: 30px;
}

@media only screen and (min-width: 667px) {
    portfolio {
        margin: 0 14%;
    }
}
